html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
  // color: rgba(var(--sk_primary_foreground,29,28,29),1);
}

.fullscreen-wrapper {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pd20 {
  padding: 20px;
}

.pd10 {
  padding: 10px;
}


@import 'styles/header';

@import 'styles/app';

@import 'styles/aside-panel';

@import 'styles/aside-header';

@import 'styles/chat';

@import 'styles/chat-header';

@import 'styles/message';

@import 'styles/message-reaction';

@import 'styles/message-form';


*::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(var(--sk_primary_foreground,29,28,29),.52);
}

.aside-panel::-webkit-scrollbar-thumb {
  background: rgba(255,255,255,0.4);
}





