html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
}

.fullscreen-wrapper {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pd20 {
  padding: 20px;
}

.pd10 {
  padding: 10px;
}

.header {
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #350d36;
  color: #FFFFFF;
}

.header__left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 128px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .left-nav__history-icon {
  padding: 2px;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  opacity: 0.8;
  border-radius: 4px;
}

.header .left-nav__history-icon:hover {
  opacity: 1;
  background: #49254a;
}

.header__search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 24px;
  min-width: 0;
  max-width: 500px;
  padding: 0 8px;
}

.header .search-menu {
  border-radius: 4px;
  opacity: .8;
  background: #431e44;
  -webkit-box-shadow: inset 1px 1px 0 0 #684a68, inset -1px -1px 0 0 #684a68;
          box-shadow: inset 1px 1px 0 0 #684a68, inset -1px -1px 0 0 #684a68;
}

.header .search-menu__search-icon {
  margin-right: 3px;
}

.header .search-menu:hover {
  opacity: 1;
  -webkit-box-shadow: inset 1px 1px 0 0 #9a869b, inset -1px -1px 0 0 #9a869b;
          box-shadow: inset 1px 1px 0 0 #9a869b, inset -1px -1px 0 0 #9a869b;
}

.header__right-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 128px;
  padding-right: 16px;
  padding-left: 32px;
  position: relative;
}

.header .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .right-nav__question-icon-wrapper {
  padding: 4px;
  border-radius: 4px;
  opacity: 0.8;
}

.header .right-nav__question-icon-wrapper:hover {
  opacity: 1;
  background: #49254a;
}

.header .right-nav__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
}

.header .right-nav__question-icon {
  font-size: 11px;
}

.app {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.app__aside-panel {
  min-width: calc(260px);
}

.app__chat {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.app .aside-panel {
  max-height: calc(100vh - 38px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3f0e40;
  color: #bcabbc;
  overflow-y: scroll;
  position: relative;
}

.app .aside-panel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 1px 0 0 #684a68, inset 0 -1px 0 0 #684a68;
          box-shadow: inset 0 1px 0 0 #684a68, inset 0 -1px 0 0 #684a68;
  color: inherit;
}

.app .aside-panel__plus-icon {
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app .aside-panel__plus-material-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app .aside-panel__arrow-down-icon {
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.app .aside-panel__circle-icon {
  font-size: 10px;
}

.app .aside-panel__heart-icon {
  font-size: 12px;
}

.app .aside-panel__lock-icon {
  font-size: 13px;
}

.app .aside-panel__at-icon {
  font-size: 17px;
}

.app .aside-panel .aside-header {
  padding-left: 12px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.app .aside-panel .aside-header__info {
  padding-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app .aside-panel .aside-header__workspace-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.app .aside-panel .aside-header__workspace-title {
  margin-right: 5px;
  font-weight: bold;
  color: #FFFFFF;
}

.app .aside-panel .aside-header__workspace-user-name {
  padding-top: 3px;
}

.app .aside-panel .aside-header__new-message {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: black;
  border-radius: 50%;
}

.app .aside-panel .aside-header__pencil-icon {
  font-size: 15px;
}

.app .aside-panel__top-section {
  padding-right: 19px;
  padding-left: 19px;
  padding-top: 13px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 0 -1px 0 0 #684a68;
          box-shadow: inset 0 -1px 0 0 #684a68;
}

.app .aside-panel__channels {
  padding-right: 19px;
  padding-left: 19px;
  padding-top: 19px;
  padding-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .aside-panel__direct-messages {
  padding-right: 19px;
  padding-left: 19px;
  padding-top: 2px;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .aside-panel__apps {
  padding-right: 19px;
  padding-left: 19px;
  padding-top: 20px;
  padding-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .aside-panel__item {
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.app .aside-panel__item_tabed {
  padding-left: 4px;
}

.app .aside-panel__item_functional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.app .aside-panel__item_last {
  margin-bottom: 0;
}

.app .aside-panel__item:hover {
  background-color: #350d36;
}

.app .aside-panel__item_functional:hover {
  background-color: transparent;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1d1c1d;
}

.chat__header {
  height: calc(64px - 20px * 2);
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.chat__messages {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-height: calc(100vh - 38px - 65px - 109px - 2px);
  overflow-y: scroll;
  font-size: 25px;
}

.chat__footer {
  padding-top: 0;
  height: calc(109px - 20px);
}

.chat .message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
}

.chat .message-form__input-text, .chat .message-form__input-text:focus {
  padding: 10px;
  min-height: calc(40px - 10px - 10px);
  font: inherit;
}

.chat .message-form__text-editing-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(40px - 10px - 10px);
  border-top: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
}

.chat .chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat .chat-header__channel-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat .chat-header__channel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat .chat-header__title {
  font-weight: 900;
}

.chat .chat-header__title_text {
  margin-left: 1px;
  margin-right: 4px;
}

.chat .chat-header__star-icon {
  padding: 1px;
  font-size: 13px;
  opacity: .7;
}

.chat .chat-header__channel-topic {
  font-size: 13px;
  opacity: .7;
}

.chat .chat-header__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .7;
  font-weight: 700;
  font-size: 13px;
}

.chat .chat-header__details-icon {
  padding: 1px;
  margin-right: 5px;
  font-size: 22px;
}

.chat .chat-header__meta-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  opacity: .7;
}

.chat .chat-header__number-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 39px;
}

.chat .chat-header__vertical-line {
  opacity: .5;
  margin-right: 6px;
  margin-left: 6px;
}

.chat .chat-header__channel-describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.chat .chat-header__description-wrapper {
  padding: 4px 4px;
  margin: -4px -4px;
}

.chat .chat-header__channel-describe:hover .chat-header__edit {
  display: inline-block;
}

.chat .chat-header__channel-describe:hover .chat-header__description-wrapper {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  -webkit-box-shadow: inset 0 0 0 1px var(--saf-0), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px var(--saf-0), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

.chat .chat-header__edit {
  display: none;
  margin-left: 7px;
  color: rgba(var(--sk_highlight, 18, 100, 163), 1);
}

.chat .chat-header__edit:hover {
  text-decoration: underline;
}

.chat .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat .message__user-avatar {
  padding: 5px;
}

.chat .message__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.46668;
}

.item__text {
  margin-left: 6px;
}

.item__text_bold {
  font-weight: bold;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */