html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
}

.fullscreen-wrapper {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pd20 {
  padding: 20px;
}

.pd10 {
  padding: 10px;
}

.header {
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #350d36;
  color: #FFFFFF;
}

.header__left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 128px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .left-nav__history-icon {
  padding: 2px;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  opacity: 0.8;
  border-radius: 4px;
}

.header .left-nav__history-icon:hover {
  opacity: 1;
  background: #49254a;
}

.header__search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 24px;
  min-width: 0;
  max-width: 500px;
  padding: 0 8px;
}

.header .search-menu {
  border-radius: 4px;
  opacity: .8;
  background: #431e44;
  -webkit-box-shadow: inset 1px 1px 0 0 #684a68, inset -1px -1px 0 0 #684a68;
          box-shadow: inset 1px 1px 0 0 #684a68, inset -1px -1px 0 0 #684a68;
}

.header .search-menu__search-icon {
  margin-right: 3px;
}

.header .search-menu:hover {
  opacity: 1;
  -webkit-box-shadow: inset 1px 1px 0 0 #9a869b, inset -1px -1px 0 0 #9a869b;
          box-shadow: inset 1px 1px 0 0 #9a869b, inset -1px -1px 0 0 #9a869b;
}

.header__right-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 128px;
  padding-right: 16px;
  padding-left: 32px;
  position: relative;
}

.header .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .right-nav__question-icon-wrapper {
  padding: 4px;
  border-radius: 4px;
  opacity: 0.8;
}

.header .right-nav__question-icon-wrapper:hover {
  opacity: 1;
  background: #49254a;
}

.header .right-nav__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
}

.header .right-nav__question-icon {
  font-size: 11px;
}

.app {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.app__aside-panel {
  min-width: 260px;
}

.app__chat {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.app .aside-panel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3f0e40;
  color: #bcabbc;
}

.app .aside-panel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 1px 0 0 #684a68, inset 0 -1px 0 0 #684a68;
          box-shadow: inset 0 1px 0 0 #684a68, inset 0 -1px 0 0 #684a68;
  color: inherit;
}

.app .aside-panel__header .aside-header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.app .aside-panel__header .aside-header__new-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app .aside-panel__top-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: inset 0 -1px 0 0 #684a68;
          box-shadow: inset 0 -1px 0 0 #684a68;
}

.app .aside-panel__channels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .aside-panel__direct-messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .aside-panel__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app .aside-panel__item {
  margin-bottom: 3px;
}

.chat {
  min-height: calc(100vh - 38px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(64px - 20px * 2);
  color: black;
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.chat__messages {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-height: calc(100vh - 64px - 109px - 38px - 2px);
  overflow-y: scroll;
  color: black;
  font-size: 25px;
}

.chat__footer {
  padding-top: 0;
  height: calc(109px - 20px);
  color: black;
}

.chat .message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;
}

.chat .message-form__input-text, .chat .message-form__input-text:focus {
  padding: 10px;
  min-height: calc(40px - 10px - 10px);
  font: inherit;
}

.chat .message-form__text-editing-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(40px - 10px - 10px);
  border-top: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
}

.chat .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.chat .message__user-avatar {
  padding: 5px;
}

.chat .message__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.46668;
}
/*# sourceMappingURL=style.css.map */