html, body {
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.46668;
  font-weight: 400;
}

.fullscreen-wrapper {
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pd20 {
  padding: 20px;
}

.pd10 {
  padding: 10px;
}

.header {
  min-height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #350d36;
  color: #FFFFFF;
}

.header__left-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 16px;
  padding-right: 32px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 128px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .left-nav__history-icon {
  padding: 2px;
  display: block;
  width: 22px;
  height: 22px;
  font-size: 22px;
  text-align: center;
  font-weight: lighter;
  opacity: 0.8;
  border-radius: 4px;
}

.header .left-nav__history-icon:hover {
  opacity: 1;
  background: #49254a;
  cursor: pointer;
}

.header__search-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  height: 24px;
  min-width: 0;
  max-width: 500px;
  padding: 0 8px;
}

.header .search-menu {
  border-radius: 4px;
  opacity: .8;
  background: #431e44;
  -webkit-box-shadow: inset 1px 1px 0 0 #684a68, inset -1px -1px 0 0 #684a68;
          box-shadow: inset 1px 1px 0 0 #684a68, inset -1px -1px 0 0 #684a68;
  cursor: pointer;
}

.header .search-menu__search-icon {
  margin-right: 3px;
}

.header .search-menu:hover {
  opacity: 1;
  -webkit-box-shadow: inset 1px 1px 0 0 #9a869b, inset -1px -1px 0 0 #9a869b;
          box-shadow: inset 1px 1px 0 0 #9a869b, inset -1px -1px 0 0 #9a869b;
}

.header__right-nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 128px;
  padding-right: 16px;
  padding-left: 32px;
  position: relative;
}

.header .right-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .right-nav__question-icon-wrapper {
  padding: 4px;
  border-radius: 4px;
  opacity: 0.8;
}

.header .right-nav__question-icon-wrapper:hover {
  opacity: 1;
  background: #49254a;
  cursor: pointer;
}

.header .right-nav__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 16px;
  height: 15px;
  border: 1.5px solid #FFFFFF;
  border-radius: 50%;
}

.header .right-nav__question-icon {
  font-size: 11px;
}

.app {
  min-height: calc(100vh - 38px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}

.app__aside-panel {
  min-width: calc(260px);
}

.app__chat {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
}

.aside-panel {
  max-height: calc(100vh - 37px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #3f0e40;
  color: #bcabbc;
  overflow-y: hidden;
  position: relative;
}

.aside-panel__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: inset 0 1px 0 0 #684a68, inset 0 -1px 0 0 #684a68;
          box-shadow: inset 0 1px 0 0 #684a68, inset 0 -1px 0 0 #684a68;
  color: inherit;
}

.aside-panel__header:hover {
  background-color: #350d36;
  cursor: pointer;
}

.aside-panel__icon-wrapper {
  width: 26px;
  height: 26px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}

.aside-panel__icon-wrapper_hoverable:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.aside-panel__caret-angle-icon {
  font-weight: 900;
  color: #FFFFFF;
}

.aside-panel__plus-icon {
  font-size: 14px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  justify-self: flex-end;
}

.aside-panel__plus-icon-wrapper {
  margin-left: auto;
}

.aside-panel__plus-material-icon {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aside-panel__arrow-down-icon {
  font-size: 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.aside-panel__circle-icon {
  font-size: 10px;
  color: #2BAC76;
}

.aside-panel__heart-icon {
  font-size: 12px;
  color: #2BAC76;
}

.aside-panel__lock-icon {
  font-size: 13px;
}

.aside-panel__at-icon {
  font-size: 17px;
}

.aside-panel__times-icon-wrapper {
  height: 22px;
  width: 22px;
  margin-right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  display: none;
  opacity: 0.64;
}

.aside-panel__times-icon-wrapper:hover {
  opacity: 1;
}

.aside-panel__times-icon {
  font-size: 19px;
}

.aside-panel__top-section {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: -8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-panel__channels {
  padding-top: 7px;
  padding-bottom: 8px;
  margin-bottom: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-panel__direct-messages {
  padding-top: 0px;
  padding-bottom: 0;
  margin-bottom: -2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-panel__apps {
  padding: 20px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-panel__item {
  padding: 2px 19px;
  padding-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font: inherit;
}

.aside-panel__item_tabed {
  padding: 3px 19px 3px 39px;
}

.aside-panel__item_functional {
  padding-right: 19px;
  padding-left: 9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.aside-panel__item_last {
  margin-bottom: 0;
}

.aside-panel__item:hover {
  background-color: #350d36;
  cursor: pointer;
}

.aside-panel__item:focus {
  background-color: #1164A3;
  color: #FFFFFF;
}

.aside-panel__item_functional:hover {
  background-color: transparent;
}

.aside-panel__item_no-background:hover {
  color: #FFFFFF;
  background: transparent;
}

.aside-panel__item_no-background:focus {
  background-color: inherit;
  color: #FFFFFF;
}

.aside-panel__item_deletable:hover .aside-panel__times-icon-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-panel:hover {
  overflow-y: overlay;
}

.item__text {
  margin-left: 6px;
}

.item__text_bold {
  font-weight: bold;
  color: #FFFFFF;
}

.aside-header {
  padding-left: 12px;
  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
}

.aside-header__info {
  padding-left: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.aside-header__workspace-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aside-header__workspace-title {
  margin-right: 5px;
  font-weight: 900;
  color: #FFFFFF;
}

.aside-header__workspace-user-name {
  padding-top: 3px;
}

.aside-header__new-message {
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  color: black;
  border-radius: 50%;
}

.aside-header__pencil-icon {
  font-size: 15px;
}

.chat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #1d1c1d;
}

.chat__header {
  height: calc(64px - 20px * 2);
  border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
}

.chat__messages {
  padding-top: 0;
  padding-bottom: 0;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  max-height: calc(100vh - 38px - 65px - 109px - 2px);
  overflow-y: hidden;
  font-size: 25px;
}

.chat__messages:hover {
  overflow-y: overlay;
}

.chat__day {
  padding-top: 0px;
  padding-bottom: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__divider-line {
  width: 100%;
  border-top: 1px solid rgba(var(--sk_foreground_low_solid, 221, 221, 221), 1);
  border-bottom: 0;
  margin: 0 0 -1px 0;
  position: absolute;
  top: 19px;
  left: 0;
}

.chat__date-sticky {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 13px;
  font-weight: 700;
  height: 28px;
  line-height: 27px;
  padding: 0 16px;
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  -webkit-box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
  bottom: 5px;
  z-index: 1;
}

.chat__date-sticky:hover {
  cursor: pointer;
}

.chat__date-sticky_first {
  margin-top: 0;
}

.chat__footer {
  padding-top: 0;
  height: calc(109px - 20px);
}

.chat__message-reaction {
  position: absolute;
  top: -16px;
  right: 17px;
  z-index: 1;
}

.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-header__channel-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-header__channel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.chat-header__title {
  font-weight: 900;
}

.chat-header__title_text {
  margin-left: 1px;
  margin-right: 4px;
}

.chat-header__title_octocrop:hover, .chat-header__title_text:hover {
  cursor: pointer;
}

.chat-header__star-icon-wrapper {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1), color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1);
  transition: background-color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1), color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1);
  border-radius: 4px;
}

.chat-header__star-icon-wrapper:hover {
  background-color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  cursor: pointer;
}

.chat-header__star-icon {
  padding: 1px;
  font-size: 13px;
  opacity: .7;
}

.chat-header__channel-topic {
  font-size: 13px;
  opacity: .7;
}

.chat-header__details {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .7;
  font-weight: 700;
  font-size: 13px;
}

.chat-header__details:hover {
  opacity: 1;
  background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  border-radius: 2px;
  -webkit-transition: opacity .2s, background-color .2s, color .2s;
  transition: opacity .2s, background-color .2s, color .2s;
  cursor: pointer;
}

.chat-header__details:focus {
  background: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  border-radius: 2px;
}

.chat-header__details:focus .chat-header {
  background-color: !important green;
}

.chat-header__details-icon {
  padding: 1px;
  margin-right: 5px;
  font-size: 22px;
}

.chat-header__meta-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  opacity: .7;
}

.chat-header__number-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 39px;
}

.chat-header__number-of-people:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chat-header__vertical-line {
  opacity: .5;
  margin-right: 6px;
  margin-left: 6px;
}

.chat-header__channel-describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.chat-header__description-wrapper {
  padding: 4px 4px;
  margin: -4px -4px;
}

.chat-header__channel-describe:hover .chat-header__edit {
  display: inline-block;
}

.chat-header__description-wrapper:hover {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  -webkit-box-shadow: inset 0 0 0 1px var(--saf-0), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px var(--saf-0), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
}

.chat-header__edit {
  display: none;
  margin-left: 7px;
  color: rgba(var(--sk_highlight, 18, 100, 163), 1);
}

.chat-header__edit:hover {
  text-decoration: underline;
  cursor: pointer;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 22px;
  padding-top: 6px;
  padding-bottom: 7px;
  position: relative;
}

.message_first {
  margin-top: 12px;
}

.message__user-avatar {
  padding-right: 7px;
  padding-top: 5px;
  border-radius: 3px;
}

.message__content {
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.message__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message__author {
  color: #1d1c1d;
  font-weight: bold;
}

.message__time-send {
  font-size: 12px;
  color: #86868e;
  margin-left: 7px;
}

.message__author:hover, .message__time-send:hover {
  cursor: pointer;
  text-decoration: underline;
}

.reactions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 4px;
}

.reactions__reaction {
  font-size: 11px;
  line-height: 16px;
  padding: 4px 6px;
  margin-right: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: top;
  background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  border: none;
  border-radius: 12px;
}

.reactions__reaction:hover {
  --saf-0: rgba(var(--sk_foreground_high,29,28,29),0.5);
  -webkit-box-shadow: inset 0 0 0 1px var(--saf-0);
          box-shadow: inset 0 0 0 1px var(--saf-0);
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  cursor: pointer;
}

.reactions__reaction_add {
  padding: 2px 8px;
}

.reactions__counter {
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  padding: 0 1px 0 3px;
}

.reactions__face-icon {
  font-size: 18px;
}

.reactions__emoji_small {
  width: 16px;
  height: 16px;
}

.message:hover {
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
}

.message:hover .message-reaction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-reaction {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  line-height: 1;
  margin-left: 8px;
  border: unset;
  -webkit-box-shadow: unset;
          box-shadow: unset;
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  -webkit-box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 1px var(--saf-0), 0 1px 3px 0 rgba(0, 0, 0, 0.08);
  display: none;
  padding: 2px;
  border-radius: .375em;
}

.message-reaction__icon-wrapper {
  height: 32px;
  width: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.7);
}

.message-reaction__icon-wrapper:hover {
  background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  cursor: pointer;
}

.message-reaction__icon {
  font-size: 15px;
}

.message-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid black;
  border-bottom: none;
  border-radius: 4px;
  z-index: 10;
}

.message-form__input-text, .message-form__input-text:focus {
  padding: 10px;
  min-height: calc(40px - 10px - 10px);
  font: inherit;
}

.message-form__text-editing-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: calc(40px - 10px - 10px);
  border-top: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  background: rgba(var(--sk_foreground_min_solid, 248, 248, 248), 1);
  background-clip: padding-box;
  border-bottom: 1px solid black;
  border-radius: 4px;
}

.message-form__left-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-form__right-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.message-form__icon-wrapper {
  height: 36px;
  width: 36px;
  margin-right: 1px;
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.message-form__icon-wrapper:hover {
  background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  border-radius: 2px;
  -webkit-transition: opacity .2s, background-color .2s, color .2s;
  transition: opacity .2s, background-color .2s, color .2s;
  cursor: pointer;
}

.message-form__icon-wrapper:focus {
  background: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  border-radius: 2px;
}

.message-form__attachment-icon {
  font-size: 17px;
}

*::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: rgba(var(--sk_primary_foreground, 29, 28, 29), 0.52);
}

.aside-panel::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}
/*# sourceMappingURL=style.css.map */