.aside-panel {
  // padding-left: 19px;
  // padding-right: 19px;
  min-height: calc(100vh - 38px);
  display: flex;
  flex-direction: column;
  background: #3f0e40;
  color: rgb(188, 171, 188);
  overflow-y: hidden;

  position: relative;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: inset 0 1px 0 0 rgb(104,74,104),
                inset 0 -1px 0 0 rgb(104,74,104);
    color: inherit;
  }

  &__header:hover {
    background-color: #350d36;
  }

  &__plus-icon {
    font-size: 14px;
    align-self: center;
  }
  &__plus-material-icon {
    align-self: center;
  }
  &__arrow-down-icon {
    font-size: 15px;
    align-self: center;
  }
  &__circle-icon {
    font-size: 10px;
    color: #2BAC76;

  }
  &__heart-icon {
    font-size: 12px;
    color: #2BAC76;
  }
  &__lock-icon {
    font-size: 13px;
  }
  &__at-icon {
    font-size: 17px;
  }

  &__top-section {
    padding-top: 13px;
    padding-bottom: 16px;
    display: flex;  
    flex-direction: column;
    justify-content: space-between;
    box-shadow: inset 0 -1px 0 0 rgb(104,74,104);
  }

  &__channels {
    padding-top: 19px;
    padding-bottom: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__direct-messages {
    padding-top: 2px;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__apps {
    padding: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__item {
    padding: 3px 19px;
    display: flex;
    align-items: center;
  }

  &__item_tabed {
    padding-right: 19px;
    padding-left: 37px;
  }


  &__item_functional {
    padding-right: 19px;
    padding-left: 19px;
    display: flex;
    justify-content: space-between;
  }

  &__item_last {
    margin-bottom: 0;
  }

  &__item:hover {
    background-color: #350d36;
  }

  &__item_functional:hover {
    background-color: transparent;
  }
}

.item__text {
  margin-left: 6px;
}

.item__text_bold {
  font-weight: bold;
  color: #FFFFFF
}
