.chat-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-header__channel-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-header__channel-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.chat-header__title {
  font-weight: 900;
}

.chat-header__title_text {
  margin-left: 1px;
  margin-right: 4px;
}

.chat-header__title_octocrop:hover, .chat-header__title_text:hover {
  cursor: pointer;
}

.chat-header__star-icon-wrapper {
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1), color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1);
  transition: background-color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1), color 0.16s cubic-bezier(0.36, 0.19, 0.29, 1);
  border-radius: 4px;
}

.chat-header__star-icon-wrapper:hover {
  background-color: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  cursor: pointer;
}

.chat-header__star-icon {
  padding: 1px;
  font-size: 13px;
  opacity: .7;
}

.chat-header__channel-topic {
  font-size: 13px;
  opacity: .7;
}

.chat-header__details {
  height: 36px;
  width: 36px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: .7;
  font-weight: 700;
  font-size: 13px;
}

.chat-header__details:hover {
  opacity: 1;
  background: rgba(var(--sk_foreground_min, 29, 28, 29), 0.04);
  color: rgba(var(--sk_primary_foreground, 29, 28, 29), 1);
  border-radius: 2px;
  -webkit-transition: opacity .2s, background-color .2s, color .2s;
  transition: opacity .2s, background-color .2s, color .2s;
  cursor: pointer;
}

.chat-header__details:focus {
  background: rgba(var(--sk_foreground_low, 29, 28, 29), 0.13);
  border-radius: 2px;
}

.chat-header__details:focus .chat-header {
  background-color: !important green;
}

.chat-header__details-icon {
  padding: 1px;
  margin-right: 5px;
  font-size: 22px;
}

.chat-header__meta-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  opacity: .7;
}

.chat-header__number-of-people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 39px;
}

.chat-header__number-of-people:hover {
  cursor: pointer;
  text-decoration: underline;
}

.chat-header__vertical-line {
  opacity: .5;
  margin-right: 6px;
  margin-left: 6px;
}

.chat-header__channel-describe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.chat-header__description-wrapper {
  padding: 4px 4px;
  margin: -4px -4px;
}

.chat-header__channel-describe:hover .chat-header__edit {
  display: inline-block;
}

.chat-header__description-wrapper:hover {
  background: rgba(var(--sk_primary_background, 255, 255, 255), 1);
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  -webkit-box-shadow: inset 0 0 0 1px var(--saf-0), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 0 0 1px var(--saf-0), 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
}

.chat-header__edit {
  display: none;
  margin-left: 7px;
  color: rgba(var(--sk_highlight, 18, 100, 163), 1);
}

.chat-header__edit:hover {
  text-decoration: underline;
  cursor: pointer;
}
/*# sourceMappingURL=chat-header.css.map */