.chat {
  display: flex;
  flex-direction: column;
  color: rgb(29, 28, 29);

  &__header {
    height: calc(64px - 20px * 2);  // take into account paddings
    border-bottom: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29),.13);;
  }

  &__messages {
    padding-top: 0;
    padding-bottom: 0;
    flex: auto;
    max-height: calc(100vh - 38px - 65px - 109px - 2px);
    overflow-y: scroll;
    font-size: 25px;
  }

  &__footer {
    padding-top: 0;
    height: calc(109px - 20px);
    // border-top: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29),.13);;
  }
}