.message-form {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 4px;

  &__input-text, &__input-text:focus {
    padding: 10px;
    min-height: calc(40px - 10px - 10px);
    font: inherit;
    
  }


  &__text-editing-menu {
    display: flex;
    justify-content: space-between;
    min-height: calc(40px - 10px - 10px);
    border-top: 1px solid rgba(var(--sk_foreground_low, 29, 28, 29),.13);;
    background: rgba(var(--sk_foreground_min_solid,248,248,248),1)
  }
}