.message-reaction {
  background: rgba(var(--sk_primary_background,255,255,255),1);
  line-height: 1;
  margin-left: 8px;
  border: unset;
  box-shadow: unset;
  --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
  box-shadow: 0 0 0 1px var(--saf-0),0 1px 3px 0 rgba(0,0,0,.08);
  display: none;
  padding: 2px;
  border-radius: .375em;
  

  &__icon-wrapper {
    height: 32px;
    width: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: rgba(var(--sk_primary_foreground,29,28,29),.7);
  }

  &__icon-wrapper:hover {
    background: rgba(var(--sk_foreground_min,29,28,29),.04);
    color: rgba(var(--sk_primary_foreground,29,28,29),1);
  }

  &__icon {
    font-size: 15px;
  }
};